.calibre {
    background-color: ghostwhite;
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    text-indent: 0
    }
.calibre1 {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em
    }
.calibre2 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre3 {
    display: block
    }
.calibre4 {
    height: auto;
    width: auto
    }
.calibre5 {
    display: block;
    font-size: 0.75em;
    font-weight: bold;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.67em
    }
.calibre6 {
    display: block;
    font-size: 0.58333em;
    font-weight: bold;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2.33em
    }
.calibre7 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: inherit
    }
.calibre8 {
    font-size: 1.41667em;
    line-height: 1.2
    }
.calibre9 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre10 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 0
    }
.calibre11 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre12 {
    display: block;
    font-family: -moz-fixed, monospace
    }
.calibre13 {
    clear: both;
    display: block;
    height: 1em
    }
.calibre14 {
    align-items: baseline;
    display: flex
    }
.calibre15 {
    flex: 1 0;
    min-width: 1em
    }
.calibre16 {
    font-size: 0.75em
    }
.calibre17 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre18 {
    display: list-item
    }
.calibre19 {
    display: block;
    list-style-type: circle;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre20 {
    background-color: #F7F8FF;
    display: table-row-group
    }
.calibre21 {
    display: table-row
    }
.calibre22 {
    height: 48;
    width: 48
    }
.calibre23 {
    font-style: italic
    }
.calibre24 {
    line-height: 1.2
    }
.calibre25 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre26 {
    font-size: 1.83333em;
    line-height: 1.4
    }
.calibre27 {
    text-decoration: underline;
    text-decoration-thickness: auto
    }
.calibre28 {
    height: 266;
    margin-left: auto;
    margin-right: auto;
    width: 400
    }
.calibre29 {
    height: 196;
    margin-left: auto;
    margin-right: auto;
    width: 400
    }
.calibre30 {
    border-bottom-color: cornflowerblue;
    border-bottom-style: dotted;
    border-bottom-width: thin;
    cursor: help
    }
.calibre31 {
    height: 122;
    margin-left: auto;
    margin-right: auto;
    width: 400
    }
.calibre32 {
    height: 243;
    margin-left: auto;
    margin-right: auto;
    width: 400
    }
.calibre33 {
    height: 210;
    margin-left: auto;
    margin-right: auto;
    width: 400
    }
.calibre34 {
    height: 177;
    margin-left: auto;
    margin-right: auto;
    width: 400
    }
.calibre35 {
    height: 343;
    margin-left: auto;
    margin-right: auto;
    width: 400
    }
.calibre36 {
    height: 344;
    margin-left: auto;
    margin-right: auto;
    width: 400
    }
.calibre37 {
    height: 251;
    margin-left: auto;
    margin-right: auto;
    width: 400
    }
.calibre38 {
    height: 406;
    margin-left: auto;
    margin-right: auto;
    width: 400
    }
.calibre39 {
    height: 447;
    margin-left: auto;
    margin-right: auto;
    width: 400
    }
.calibre40 {
    display: block;
    margin-right: 0;
    padding-top: 0;
    text-align: right
    }
.calibre41 {
    height: 387;
    margin-left: auto;
    margin-right: auto;
    width: 400
    }
.calibre42 {
    height: 353;
    margin-left: auto;
    margin-right: auto;
    width: 400
    }
.calibre43 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: sub
    }
.calibre44 {
    border-collapse: separate;
    border-spacing: 2px;
    break-inside: avoid;
    display: table;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    max-width: 100%;
    text-indent: 0
    }
.calibre45 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre46 {
    display: table-row;
    vertical-align: inherit
    }
.calibre47 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit
    }
.calibre48 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: center;
    vertical-align: inherit
    }
.calibre49 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: right;
    vertical-align: inherit
    }
.calibre50 {
    display: block;
    font-weight: bold;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.33em
    }
.calibre51 {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-collapse: collapse;
    border-left-color: black;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 1px;
    border-spacing: 2px;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 1px;
    break-inside: avoid;
    display: table;
    font-size: 1.125em;
    line-height: 1.2;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    max-width: 100%;
    text-indent: 0
    }
.calibre52 {
    display: table-row-group;
    line-height: 1.2;
    vertical-align: middle
    }
.calibre53 {
    display: table-row;
    line-height: 1.2;
    vertical-align: inherit
    }
.calibre54 {
    display: table-cell;
    line-height: 1.2;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit
    }
.calibre55 {
    display: table-cell;
    line-height: 1.2;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: center;
    vertical-align: inherit
    }
.calibre56 {
    font-size: 0.88889em;
    line-height: normal;
    vertical-align: sub
    }
.calibre57 {
    display: block;
    line-height: 1.2
    }
.calibre58 {
    height: 192;
    margin-left: auto;
    margin-right: auto;
    width: 400
    }
.calibre59 {
    height: 191;
    margin-left: auto;
    margin-right: auto;
    width: 400
    }
.calibre60 {
    height: 240;
    margin-left: auto;
    margin-right: auto;
    width: 400
    }
.calibre61 {
    display: block;
    margin-left: 40px
    }
.calibre62 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre63 {
    display: block;
    list-style-type: disc;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre64 {
    height: 516;
    margin-left: auto;
    margin-right: auto;
    width: 400
    }
.calibre65 {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-collapse: collapse;
    border-left-color: black;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 1px;
    border-spacing: 2px;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 1px;
    break-inside: avoid;
    display: table;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    max-width: 100%;
    padding-bottom: 3;
    padding-left: 3;
    padding-right: 3;
    padding-top: 3;
    text-indent: 0
    }
.calibre66 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre67 {
    font-family: monospace
    }
.calibre68 {
    border-collapse: collapse;
    border-spacing: 2px;
    break-inside: avoid;
    display: table;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    max-width: 100%;
    text-align: right;
    text-indent: 0;
    width: 30em
    }
.calibre69 {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: center;
    vertical-align: inherit
    }
.calibre70 {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit
    }
.calibre71 {
    height: 172;
    margin-left: auto;
    margin-right: auto;
    width: 300
    }
.calibre72 {
    height: 536;
    margin-left: auto;
    margin-right: auto;
    width: 400
    }
.calibre73 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em
    }
.calibre74 {
    counter-reset: mw-Ref 1
    }
.calibre75 {
    counter-reset: mw-Ref 2
    }
.calibre76 {
    counter-reset: mw-Ref 3
    }
.calibre77 {
    counter-reset: mw-Ref 4
    }
.calibre78 {
    border-bottom-color: currentColor;
    border-bottom-style: inset;
    border-bottom-width: 1px;
    border-left-color: currentColor;
    border-left-style: inset;
    border-left-width: 1px;
    border-right-color: currentColor;
    border-right-style: inset;
    border-right-width: 1px;
    border-top-color: currentColor;
    border-top-style: inset;
    border-top-width: 1px;
    color: gray;
    display: block;
    height: 2px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em
    }
.calibre79 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.center {
    display: block;
    text-align: center;
    width: 100%
    }
.floatnone {
    display: block;
    margin-left: auto;
    margin-right: auto
    }
.image {
    margin-left: auto;
    margin-right: auto
    }
.licensecontainer {
    box-sizing: border-box;
    break-before: page;
    clear: both;
    display: block;
    margin-bottom: 0.25em;
    margin-top: 0.25em;
    page-break-before: always;
    width: auto
    }
.licensetpl {
    display: none
    }
.licframe-centerfield {
    display: table-cell;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    text-align: center;
    vertical-align: middle;
    width: auto
    }
.licframe-centertext {
    display: block;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    text-align: left;
    width: 100%
    }
.licframe-leftfield {
    display: table-cell;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    text-align: left;
    vertical-align: middle;
    width: auto
    }
.licframe-rightfield {
    display: table-cell;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    text-align: right;
    vertical-align: middle;
    width: auto
    }
.licframe-top {
    border-bottom-color: #88A;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-collapse: collapse;
    border-left-color: #88A;
    border-left-style: solid;
    border-left-width: 2px;
    border-right-color: #88A;
    border-right-style: solid;
    border-right-width: 2px;
    border-spacing: 0 0;
    border-top-color: #88A;
    border-top-style: solid;
    border-top-width: 2px;
    box-sizing: border-box;
    display: table;
    empty-cells: hide;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 100%
    }
.mw-content-ltr {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: justify
    }
.mwe-math-fallback-image-inline {
    height: 6.509ex;
    vertical-align: -2.671ex;
    width: 27.792ex
    }
.mwe-math-fallback-image-inline1 {
    height: 7.843ex;
    vertical-align: -2.338ex;
    width: 31.362ex
    }
.mwe-math-fallback-image-inline2 {
    height: 7.676ex;
    vertical-align: -2.671ex;
    width: 23.752ex
    }
.mwe-math-fallback-image-inline3 {
    height: 3.009ex;
    vertical-align: -1.171ex;
    width: 18.955ex
    }
.mwe-math-fallback-image-inline4 {
    height: 3.009ex;
    vertical-align: -0.338ex;
    width: 12.599ex
    }
.mwe-math-fallback-image-inline5 {
    height: 2.843ex;
    vertical-align: -1.005ex;
    width: 15.404ex
    }
.mwe-math-fallback-image-inline6 {
    height: 3.509ex;
    vertical-align: -1.171ex;
    width: 31.61ex
    }
.mwe-math-fallback-image-inline7 {
    height: 5.343ex;
    vertical-align: -1.838ex;
    width: 15.548ex
    }
.mwe-math-fallback-image-inline8 {
    height: 5.676ex;
    vertical-align: -2.338ex;
    width: 21.42ex
    }
.mwe-math-fallback-image-inline9 {
    height: 2.509ex;
    vertical-align: -0.671ex;
    width: 22.549ex
    }
.mwe-math-fallback-image-inline10 {
    height: 6.509ex;
    vertical-align: -2.671ex;
    width: 18.046ex
    }
.pagebreak {
    break-after: page;
    clear: both;
    display: block;
    page-break-after: always
    }
.poem {
    display: block;
    text-indent: 0
    }
.subheadertemplate {
    box-sizing: border-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    width: 30em
    }
.tiinherit {
    display: block;
    text-align: center;
    text-indent: inherit
    }
.wst-auxtoc-title {
    font-weight: bold
    }
.wst-block-center {
    display: table;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    max-width: 100%;
    position: relative;
    width: 28em
    }
.wst-block-center1 {
    display: table;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    max-width: 100%;
    position: relative;
    width: auto
    }
.wst-dhr {
    display: block;
    line-height: 3;
    visibility: hidden
    }
.wst-floatright {
    float: right;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.wst-gap {
    display: inline-block;
    width: 10em
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

