@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

.blackletter {
    -ms-font-feature-settings: "cv01", "cv02", "cv03", "cv04", "cv05", "cv06", "cv07", "cv08", "cv09", "cv10";
    -webkit-font-feature-settings: "cv01", "cv02", "cv03", "cv04", "cv05", "cv06", "cv07", "cv08", "cv09", "cv10";
    font-family: UnifrakturMaguntia, UnifrakturCook, Unifraktur, serif;
    font-feature-settings: "cv01", "cv02", "cv03", "cv04", "cv05", "cv06", "cv07", "cv08", "cv09", "cv10";
    font-size: 1.125em;
    line-height: 1.2
    }
.blackletter1 {
    -ms-font-feature-settings: "cv01", "cv02", "cv03", "cv04", "cv05", "cv06", "cv07", "cv08", "cv09", "cv10";
    -webkit-font-feature-settings: "cv01", "cv02", "cv03", "cv04", "cv05", "cv06", "cv07", "cv08", "cv09", "cv10";
    font-family: UnifrakturMaguntia, UnifrakturCook, Unifraktur, serif;
    font-feature-settings: "cv01", "cv02", "cv03", "cv04", "cv05", "cv06", "cv07", "cv08", "cv09", "cv10";
    font-size: 1.33333em;
    line-height: 1.2
    }
.calibre {
    background-color: ghostwhite;
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    text-indent: 0
    }
.calibre1 {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em
    }
.calibre2 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre3 {
    display: block
    }
.calibre4 {
    height: auto;
    width: auto
    }
.calibre5 {
    display: block;
    font-size: 0.75em;
    font-weight: bold;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.67em
    }
.calibre6 {
    display: block;
    font-size: 0.58333em;
    font-weight: bold;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2.33em
    }
.calibre7 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: inherit
    }
.calibre8 {
    font-size: 2em;
    line-height: 1.2
    }
.calibre9 {
    letter-spacing: 0.15em;
    line-height: 1.2
    }
.calibre10 {
    font-size: 1.41667em;
    line-height: 1.2
    }
.calibre11 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre12 {
    font-style: italic
    }
.calibre13 {
    display: block;
    margin-right: -2em;
    padding-top: 0;
    text-align: right
    }
.calibre14 {
    height: 157;
    margin-left: auto;
    margin-right: auto;
    width: 120
    }
.calibre15 {
    font-size: 1.125em;
    line-height: 1.2
    }
.calibre16 {
    font-size: 1.83333em;
    line-height: 1.4
    }
.calibre17 {
    border-collapse: separate;
    border-spacing: 2px;
    break-inside: avoid;
    display: table;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    max-width: 100%;
    text-indent: 0;
    width: 280px
    }
.calibre18 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre19 {
    display: table-row;
    vertical-align: inherit
    }
.calibre20 {
    display: table-cell;
    font-variant: small-caps;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit
    }
.calibre21 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: right;
    vertical-align: inherit
    }
.calibre22 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit
    }
.calibre23 {
    display: table-cell;
    font-size: 1.125em;
    line-height: 1.2;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: center;
    vertical-align: inherit
    }
.calibre24 {
    line-height: 1.2
    }
.calibre25 {
    display: block;
    font-size: 0.75em;
    line-height: 1.4
    }
.calibre26 {
    background-color: #F7F8FF;
    display: table-row-group
    }
.calibre27 {
    display: table-row
    }
.calibre28 {
    height: 48;
    width: 48
    }
.calibre29 {
    font-weight: bold
    }
.calibre30 {
    border-bottom-color: currentColor;
    border-bottom-style: inset;
    border-bottom-width: 1px;
    border-left-color: currentColor;
    border-left-style: inset;
    border-left-width: 1px;
    border-right-color: currentColor;
    border-right-style: inset;
    border-right-width: 1px;
    border-top-color: currentColor;
    border-top-style: inset;
    border-top-width: 1px;
    color: gray;
    display: block;
    height: 2px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em
    }
.calibre31 {
    display: list-item
    }
.calibre32 {
    height: 400;
    margin-left: auto;
    margin-right: auto;
    width: 400
    }
.calibre33 {
    font-size: 0.75em
    }
.calibre34 {
    display: block;
    font-family: monospace;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    white-space: pre
    }
.calibre35 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em
    }
.calibre36 {
    counter-reset: mw-Ref 1
    }
.calibre37 {
    counter-reset: mw-Ref 2
    }
.calibre38 {
    counter-reset: mw-Ref 3
    }
.calibre39 {
    counter-reset: mw-Ref 4
    }
.calibre40 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.center {
    display: block;
    text-align: center;
    width: 100%
    }
.dropinitial {
    float: left;
    text-indent: 0
    }
.dropinitial-initial {
    float: left;
    font-size: 3em;
    line-height: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0.1em;
    margin-top: 0;
    text-indent: 0
    }
.floatnone {
    display: block;
    margin-left: auto;
    margin-right: auto
    }
.image {
    margin-left: auto;
    margin-right: auto
    }
.licensecontainer {
    box-sizing: border-box;
    break-before: page;
    clear: both;
    display: block;
    margin-bottom: 0.25em;
    margin-top: 0.25em;
    page-break-before: always;
    width: auto
    }
.licensetpl {
    display: none
    }
.licframe-centerfield {
    display: table-cell;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    text-align: center;
    vertical-align: middle;
    width: auto
    }
.licframe-centertext {
    display: block;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    text-align: left;
    width: 100%
    }
.licframe-leftfield {
    display: table-cell;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    text-align: left;
    vertical-align: middle;
    width: auto
    }
.licframe-rightfield {
    display: table-cell;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    text-align: right;
    vertical-align: middle;
    width: auto
    }
.licframe-top {
    border-bottom-color: #88A;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-collapse: collapse;
    border-left-color: #88A;
    border-left-style: solid;
    border-left-width: 2px;
    border-right-color: #88A;
    border-right-style: solid;
    border-right-width: 2px;
    border-spacing: 0 0;
    border-top-color: #88A;
    border-top-style: solid;
    border-top-width: 2px;
    box-sizing: border-box;
    display: table;
    empty-cells: hide;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 100%
    }
.mw-content-ltr {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: justify
    }
.mw-references {
    display: block;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.nowrap {
    white-space: nowrap
    }
.pagebreak {
    break-after: page;
    clear: both;
    display: block;
    page-break-after: always
    }
.reference {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.references {
    display: block;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.reflist {
    clear: both;
    display: block;
    font-size: 0.75em;
    line-height: 1.25;
    margin-top: 0.3em
    }
.smallcaps {
    font-variant: small-caps
    }
.smallcaps1 {
    font-variant: small-caps;
    line-height: 1.2
    }
.tiinherit {
    display: block;
    text-align: center;
    text-indent: inherit
    }
.ws-heading {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.wst-block-center {
    display: table;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    max-width: 100%;
    position: relative;
    width: auto
    }
.wst-dhr {
    display: block;
    line-height: 1.2;
    visibility: hidden
    }
.wst-dhr1 {
    display: block;
    line-height: 4;
    visibility: hidden
    }
.wst-fqm {
    float: left;
    margin-left: calc(0 - 3em);
    text-align: right;
    width: 3em
    }
.wst-gap {
    display: inline-block;
    width: 2em
    }

