.calibre {
    background-color: ghostwhite;
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    text-indent: 0
    }
.calibre1 {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em
    }
.calibre2 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre3 {
    display: block
    }
.calibre4 {
    height: auto;
    width: auto
    }
.calibre5 {
    display: block;
    font-size: 0.75em;
    font-weight: bold;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.67em
    }
.calibre6 {
    display: block;
    font-size: 0.58333em;
    font-weight: bold;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2.33em
    }
.calibre7 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre8 {
    display: table-row;
    vertical-align: inherit
    }
.calibre9 {
    height: 48;
    width: 48
    }
.calibre10 {
    display: block;
    width: 52px
    }
.calibre11 {
    height: 40;
    width: 40
    }
.calibre12 {
    font-weight: bold
    }
.calibre13 {
    font-size: 0.75em
    }
.calibre14 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre15 {
    display: list-item
    }
.calibre16 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre17 {
    display: block;
    list-style-type: circle;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre18 {
    background-color: #f7f8ff;
    border-bottom-color: #88A;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-color: #88A;
    border-left-style: solid;
    border-left-width: 2px;
    border-right-color: #88A;
    border-right-style: solid;
    border-right-width: 2px;
    border-top-color: #88A;
    border-top-style: solid;
    border-top-width: 2px;
    display: block;
    line-height: 1.6;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    text-align: left
    }
.calibre19 {
    height: 20;
    width: 20
    }
.calibre20 {
    display: table-cell;
    font-weight: bold;
    padding-bottom: 0;
    padding-left: 1ex;
    padding-right: 1ex;
    padding-top: 0;
    text-align: right;
    vertical-align: middle
    }
.calibre21 {
    display: table-cell;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    vertical-align: middle;
    width: 100%
    }
.calibre22 {
    background-color: #F7F8FF;
    display: table-row-group
    }
.calibre23 {
    display: table-row
    }
.calibre24 {
    border-bottom-color: currentColor;
    border-bottom-style: inset;
    border-bottom-width: 1px;
    border-left-color: currentColor;
    border-left-style: inset;
    border-left-width: 1px;
    border-right-color: currentColor;
    border-right-style: inset;
    border-right-width: 1px;
    border-top-color: currentColor;
    border-top-style: inset;
    border-top-width: 1px;
    color: gray;
    display: block;
    height: 2px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em
    }
.calibre25 {
    font-style: italic
    }
.calibre26 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: inherit
    }
.calibre27 {
    font-size: 1.41667em;
    line-height: 1.2
    }
.calibre28 {
    height: 1;
    vertical-align: middle;
    width: 40
    }
.calibre29 {
    height: 7;
    vertical-align: middle;
    width: 14
    }
.calibre30 {
    display: block;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em
    }
.calibre31 {
    counter-reset: mw-Ref 1
    }
.calibre32 {
    display: block;
    margin-left: 40px
    }
.calibre33 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre34 {
    line-height: 1.2
    }
.calibre35 {
    counter-reset: mw-Ref 2
    }
.calibre36 {
    counter-reset: mw-Ref 3
    }
.calibre37 {
    counter-reset: mw-Ref 4
    }
.calibre38 {
    counter-reset: mw-Ref 5
    }
.calibre39 {
    counter-reset: mw-Ref 6
    }
.calibre40 {
    counter-reset: mw-Ref 7
    }
.calibre41 {
    counter-reset: mw-Ref 8
    }
.calibre42 {
    counter-reset: mw-Ref 9
    }
.calibre43 {
    counter-reset: mw-Ref 10
    }
.calibre44 {
    counter-reset: mw-Ref 11
    }
.calibre45 {
    counter-reset: mw-Ref 12
    }
.calibre46 {
    counter-reset: mw-Ref 13
    }
.calibre47 {
    counter-reset: mw-Ref 14
    }
.calibre48 {
    counter-reset: mw-Ref 15
    }
.calibre49 {
    counter-reset: mw-Ref 16
    }
.calibre50 {
    counter-reset: mw-Ref 17
    }
.calibre51 {
    counter-reset: mw-Ref 18
    }
.calibre52 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: sub
    }
.calibre53 {
    height: 153;
    width: 300
    }
.calibre54 {
    display: block;
    line-height: 1.2;
    padding-bottom: 0;
    padding-left: 0.1em;
    padding-right: 0.1em;
    padding-top: 0;
    text-indent: 0
    }
.calibre55 {
    border-top-color: currentColor;
    border-top-style: solid;
    border-top-width: 1px;
    display: block;
    line-height: 1.2;
    padding-bottom: 0;
    padding-left: 0.1em;
    padding-right: 0.1em;
    padding-top: 0;
    text-indent: 0
    }
.calibre56 {
    text-decoration: overline
    }
.calibre57 {
    counter-reset: mw-Ref 19
    }
.calibre58 {
    counter-reset: mw-Ref 20
    }
.calibre59 {
    counter-reset: mw-Ref 21
    }
.calibre60 {
    counter-reset: mw-Ref 22
    }
.calibre61 {
    counter-reset: mw-Ref 23
    }
.calibre62 {
    display: block;
    font-size: 0.75em;
    line-height: 1.4
    }
.calibre63 {
    display: block;
    font-weight: bold;
    margin-bottom: 0.1em
    }
.calibre64 {
    counter-reset: mw-Ref 24
    }
.calibre65 {
    counter-reset: mw-Ref 25
    }
.calibre66 {
    counter-reset: mw-Ref 26
    }
.calibre67 {
    counter-reset: mw-Ref 27
    }
.calibre68 {
    counter-reset: mw-Ref 28
    }
.calibre69 {
    background-color: #EFEFEF;
    border-bottom-color: #2f6fab;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-left-color: #2f6fab;
    border-left-style: dashed;
    border-left-width: 1px;
    border-right-color: #2f6fab;
    border-right-style: dashed;
    border-right-width: 1px;
    border-top-color: #2f6fab;
    border-top-style: dashed;
    border-top-width: 1px;
    color: black;
    display: block;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em
    }
.calibre70 {
    display: block;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre71 {
    display: block;
    line-height: 1.2;
    margin-left: 40px
    }
.calibre72 {
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre73 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em
    }
.calibre74 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.licensecontainer {
    box-sizing: border-box;
    break-before: page;
    clear: both;
    display: block;
    margin-bottom: 0.25em;
    margin-top: 0.25em;
    page-break-before: always;
    width: auto
    }
.licensetpl {
    display: none
    }
.licframe-centerfield {
    display: table-cell;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    text-align: center;
    vertical-align: middle;
    width: auto
    }
.licframe-centertext {
    display: block;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    text-align: left;
    width: 100%
    }
.licframe-leftfield {
    display: table-cell;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    text-align: left;
    vertical-align: middle;
    width: auto
    }
.licframe-rightfield {
    display: table-cell;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    text-align: right;
    vertical-align: middle;
    width: auto
    }
.licframe-top {
    border-bottom-color: #88A;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-collapse: collapse;
    border-left-color: #88A;
    border-left-style: solid;
    border-left-width: 2px;
    border-right-color: #88A;
    border-right-style: solid;
    border-right-width: 2px;
    border-spacing: 0 0;
    border-top-color: #88A;
    border-top-style: solid;
    border-top-width: 2px;
    box-sizing: border-box;
    display: table;
    empty-cells: hide;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 100%
    }
.mbox-image {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit
    }
.mw-collapsible {
    clear: both;
    display: block;
    font-size: 1em;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.25em
    }
.mw-collapsible-content {
    border-collapse: collapse;
    border-spacing: 0;
    break-inside: avoid;
    display: table;
    empty-cells: hide;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3px;
    max-width: 100%;
    text-indent: 0;
    width: 100%
    }
.mw-content-ltr {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: justify
    }
.mw-halign-center {
    display: table;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto
    }
.mw-ref {
    font-size: 1em;
    line-height: normal;
    vertical-align: super
    }
.mw-references {
    display: block;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.noprint {
    clear: both;
    display: block
    }
.pagebreak {
    break-after: page;
    clear: both;
    display: block;
    page-break-after: always
    }
.plainlinks {
    border-collapse: separate;
    border-spacing: 2px;
    break-inside: avoid;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    max-width: 100%;
    text-indent: 0
    }
.reference {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.references {
    display: block;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.reflist {
    clear: both;
    display: block;
    font-size: 0.75em;
    line-height: 1.25;
    margin-top: 0.3em
    }
.sfrac {
    display: inline-block;
    font-size: 0.75em;
    text-align: center;
    vertical-align: -0.5em
    }
.tiinherit {
    display: block;
    text-align: center;
    text-indent: inherit
    }
.wst-custom-rule {
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0 0;
    display: block;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    text-align: center
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

